---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Graduate Instructor, University of Mississippi, Department of Political Science</h2>

{% for post in site.teaching reversed %}
  {% if post.type == "Instructor of Record" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Teaching Assistant, University of Mississippi, Department of Political Science</h2>

{% for post in site.teaching reversed %}
  {% if post.type == "Teaching Assistant" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
